<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EZ Translate - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/style.css">


  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container-fluid" id="nav-container">
                      <a class="navbar-brand" href="#">EZ Translate</a>
                    </div>
                  </nav>                  
            </div>
        </div>
      <div class="row justify-content-center">
          <a href="/search" class="btn continue-btn">Continue Without Login</a>
      </div>  
      <div class="row">
        <div class="col-md-4 offset-md-1">
          <div class="card signup-card">
            <div class="card-body">
              <h4 class="card-title">Sign Up</h4>
              <form method="POST">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username" name="username">
                  <input type="hidden" id="form-type" name="form-type" value="signup">
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn login-btn">Continue</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-md-2">
          <div class="card login-card">
            <div class="card-body">
              <h4 class="card-title">Login</h4>
              <form method="POST">
                <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username" name="username">
                  <input type="hidden" id="form-type" name="form-type" value="login">
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn signup-btn">Continue</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="alert alert-info" role="alert">
            {{msg}}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/"></script>

  </body>
</html>